@model IEnumerable<SCT.Models.Anotacion>

@{
    ViewBag.Title = "Consulta Anotación";
}

<h2>Consulta Anotación</h2>
<script type="text/javascript">
    @if (TempData["Message"] != null)
      {
       if (TempData["Message"].ToString() == "No puede editar este IMEI")
        {
          <text>
            $(window).on('load', function () {
                $(document).ready(function () {
                    Swal.fire({
                        icon: 'error',
                        title: "@TempData["Message"]",
                        confirmButtonText: "Entendido",
                        confirmButtonColor: '#A02383',
                    })
                });
            });
        </text>
        }

        if (TempData["Message"].ToString() == "IMEI no registra una anotación")
        {
            <text>
            $(window).on('load', function () {
                $(document).ready(function () {
                    Swal.fire({
                        icon: 'warning',
                        title: "@TempData["Message"]",
                        confirmButtonText: "Entendido",
                        confirmButtonColor: '#A02383',
                    })
                });
            });
        </text>
        }
    }
</script>
<script type="text/javascript">
    function validateData() {
        if ($("#imei").val() == "") {
            Swal.fire({
                icon: 'warning',
                title: "IMEI es un campo requerido",
                confirmButtonText: "Entendido",
                confirmButtonColor: '#A02383',
            });
            return false;
        }
        if (isNaN($("#imei").val())) {
            Swal.fire({
                icon: 'warning',
                title: "IMEI es un campo numérico",
                confirmButtonText: "Entendido",
                confirmButtonColor: '#A02383',
            });
            return false;
        }
        else {
            return true;
        }
    }
</script>

@using (Html.BeginForm("ConsultaAnotacionFrontal", "Anotacions", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    @Html.TextBox("imei", null, htmlAttributes: new { placeholder = "IMEI", @class = "form-control" })
    <br />
    <input type="submit" onclick="return validateData();"  value="Buscar" class="btn btn-primary" />
    <br />
    <br />
}


<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datosCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imei)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAnotacion.nombreTipoAnotacion)
        </th>
        <th>Acción</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datosCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAnotacion.nombreTipoAnotacion)
            </td>
            <td>

                @Html.ActionLink("  ", "EditarConsulta", new { id = item.idAnotacion }, htmlAttributes: new { @class = "glyphicon glyphicon-edit btn btn-success", title = "Editar Anotación" }) |

                @Html.ActionLink(" ", "Details", new { id = item.idAnotacion }, htmlAttributes: new { @class = "glyphicon glyphicon-info-sign btn btn-success", title = "Detalles" })
                @* @Html.ActionLink("Eliminar", "Delete", new { id = item.idAnotacion })*@
            </td>
        </tr>
    }

</table>
