@using PagedList.Mvc;
@using PagedList;
@model IPagedList<SCT.Models.Modelo>

@{
    ViewBag.Title = "Modelos";
}

<h2>Modelos Registrados</h2>

<p>
    @Html.ActionLink("Agregar Modelo", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().nombreModelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Marca.nombreMarca)
        </th>
        <th>Acción</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.nombreMarca)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.idModelo }, htmlAttributes: new { @class = "glyphicon glyphicon-edit btn btn-success", title = "Editar Modelo" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.idModelo }, htmlAttributes: new { @class = "glyphicon glyphicon-remove btn btn-success", title = "Eliminar Modelo" })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
