@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles Registrados</h2>

<p>
    @Html.ActionLink("Agregar Rol", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>Acción</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("  ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-edit btn btn-success", title = "Editar Rol" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.Id}, htmlAttributes: new { @class = "glyphicon glyphicon-remove btn btn-success", title = "Eliminar Rol" })
              
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
